URxvt.font:                        -*-profont-*-*-*-*-11-*-*-*-*-*-iso8859-*
URxvt.boldFont:                    -*-profont-*-*-*-*-11-*-*-*-*-*-iso8859-*
URxvt.scrollstyle:                 xterm
URxvt.scrollBar_right:             true
URxvt.scrollBar:                   false
URxvt.url-select.launcher:         qutebrowser
URxvt.url-select.underline:        false
URxvt.perl-ext-common:             keyboard-select,url-select
URxvt.keysym.M-y:                  perl:keyboard-select:activate
URxvt.keysym.M-s:                  perl:keyboard-select:search
URxvt.keysym.M-u:                  perl:url-select:select_next

! Pro Colorscheme from mbadolato.
*.background:                      #000000
*.foreground:                      #f2f2f2
*.colorBD:                         #ffffff
*.cursorColor:                     #4d4d4d
*.cursorColor2:                    #ffffff
! Default highlight is invert video.
!*.highlightColor:                  #414141
!*.highlightTextColor:              #000000

! KRGYBMCW normal, bright
*.color0:                          #000000
*.color1:                          #990000
*.color2:                          #00a600
*.color3:                          #999900
*.color4:                          #2009db
*.color5:                          #b200b2
*.color6:                          #00a6b2
*.color7:                          #bfbfbf
*.color8:                          #666666
*.color9:                          #e50000
*.color10:                         #00d900
*.color11:                         #e5e500
*.color12:                         #0000ff
*.color13:                         #e500e5
*.color14:                         #00e5e5
*.color15:                         #e5e5e5
